.wrapper--text--locations--one :global(.vtex-rich-text-0-x-paragraph),
.wrapper--text--locations--two :global(.vtex-rich-text-0-x-paragraph) {
  margin     : 0 !important;
  font-size  : 12px;
  color      : rgba(0, 0, 0, .5);
  font-family: "Neue-Regular";
  font-weight: 400;
}

.wrapper--text--locations--two :global(.vtex-rich-text-0-x-paragraph) {
  font-size  : 14px;
  color      : black;
  font-weight: bold;
  line-height: 0.8;
}

.wrapper--text--supermarket {
  position: relative;
}

.wrapper--text--supermarket::before {
  content         : "NUEVO";
  position        : absolute;
  font-family     : "Neue-Regular";
  font-size       : 8px;
  padding         : 1px 3px;
  border-radius   : 8px;
  color           : white;
  background-color: #3483fa;
  left            : 50%;
  transform       : translateX(-50%);
  text-align      : center;
}
