.flexRowContent--container__header-top {
  gap: 40px;
}

.flexRowContent--container__row--locations {
  position: relative;
}

.flexRowContent--container__row--locations::before {
  content : url("assets/image/icon-location.png");
  position: absolute;
  left    : -25px;
  top     : 2px;
}

.flexRowContent--container__menu--center :global(.vtex-rich-text-0-x-paragraph) {
  color      : #3339;
  padding    : 0;
  font-size  : 14px;
  font-family: "Neue-Regular";
  margin     : 10px 0 0;
}

@media (min-width : 1025px) and (max-width: 1190px) {
  .flexRowContent--container__header-top {
    gap: 0;
  }
}
